.flexcontainer {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 22px;
  background-image: url("images/first/main/head.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.log {
  display: flex;
}

.menu ul {
  display: flex;
  width: 40px;
  list-style: none;
  margin-left: 60%;
  margin-top: -1%;
}

.menu li {
  margin-left: 66%;
  margin-top: 0%;
  column-gap: 77%;
}

.paragraph ul {
  width: 50px;
  list-style: none;
  margin: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.paragraph li {
  display: flex;
  width: 500%;
  margin-left: 66%;
  margin-top: 50%;
  column-gap: 77%;
}

.paragraph .heading {
  width: 389%;
  margin-bottom: -10px;
}

.paragraph .about {
  width: 40em;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: flex-start;
  margin-top: -20%;
}

.social ul {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  list-style: none;
  margin-left: 50px;
  margin-left: 20%;
}

@media only screen and (max-width: 600px) {
  .main-content {
    margin-bottom: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}
